.filter {
	margin: 30px 0;
}

.filter_isActive-label {
	margin-right: 10px;
	font-size: 24px;
	cursor: pointer;
}

.filter_isActive-input {
	width: 15px;
	height: 15px;
	margin-left: 10px;
	cursor: pointer;
}
